html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  background: #e1d4c9;
  margin: 0 auto;
}

.header-menu {
  width: 1360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.menu-link {
  text-decoration: none;
}

.menu-link:hover {
  color: #b0907a;
  border-bottom: solid 1px;
  transition: all 0.3s ease-in;
}

.nav {
  width: 1188px;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-link,
.menu-link {
  text-decoration: none;
  color: #403f3d;
}

.nav-link:hover {
  color: #b0907a;
  transition: all 0.3s ease-in;
  border-bottom: solid 1px;
}

.enjoy-container {
  position: relative;
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.text-span {
  color: #b0907a;
}

.text-h1 {
  color: #e1d4c9;
  font-size: 72px;
  font-style: normal;
}

.enjoy-p {
  color: #e1d4c9;
  margin-bottom: 40px;
}

.enjoy-image {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
}

.enjoy-offer {
  width: 530px;
  height: 444px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.enjoy-menu {
  padding: 20px 78px;
  border-radius: 100px;
  border-style: none;
  background-color: #e1d4c9;
  margin-bottom: 0px;
}

.favorite-h2 {
  color: #403f3d;
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 125%;
  margin: 0 auto 40px;
}

.favorite-span {
  color: #b0907a;
  font-style: italic;
}

.favorite-slider {
  width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.row-slider {
  flex-direction: column;
  text-align: center;
}

.slider-img {
  width: 440px;
  height: 440px;
}

.arrow-left {
  transform: rotate(180deg);
}

.slider-left,
.slider-right {
  border-radius: 50%;
  border: solid 1px #665f55;
  background-color: #e1d4c9;
  width: 60px;
  height: 60px;
}

.slider-left:hover {
  background-color: #665f55;
  transition: 0.3s linear;
}

.slider-right:hover {
  background-color: #665f55;
  transition: 0.3s linear;
}

.favorite-h3 {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.favorite-p {
  width: 480px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin: 16px;
}

.about {
  width: 1360px;
  margin: auto;
}

.about_title {
}

.about-h2 {
  color: #403f3d;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0 auto 40px;
  text-align: justify;
}

.about-span {
  color: #b0907a;
  font-style: italic;
}

.about-gallery {
  display: flex;
  gap: 40px;
}

.about-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-img-1,
.about-img-4 {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  object-fit: none;
}

.about-img-2,
.about-img-3 {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  object-fit: none;
}

.mobile-app {
  width: 1360px;
  display: flex;
  flex-direction: row;
  gap: 130px;
  margin: auto;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.download-h2 {
  color: #403f3d;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.download-h2-span {
  color: #b0907a;
  font-style: italic;
}

.download-p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.download-buttons {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.download-button {
  width: 200px;
  height: 64px;
  padding: 20px 78px;
  border-radius: 100px;
  border-style: solid;
  background-color: #e1d4c9;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding: 12px 20px;
}

.icon {
  padding: 10px;
}

.title-up {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.title-down {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.button-title {
  display: flex;
  flex-direction: column;
  color: #403f3d;
}

.footer {
  padding-bottom: 40px;
}

.contacts {
  width: 1360px;
  height: 450px;
  background-color: #665f55;
  border-radius: 40px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 335px;
  align-items: center;
  justify-content: center;
}

.contacts-offer {
  display: flex;
  flex-direction: column;
}

.footer-slogan {
  color: #e1d4c9;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0 auto 40px;
}

.footer-span {
  color: #b0907a;
  font-style: italic;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid #e1d4c9;
  width: 58px;
  height: 58px;
  background-color: #665f55;
}

.contact-us {
}

.contact {
  font-size: 30px;
  color: #e1d4c9;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.contact-link {
  text-decoration: none;
  color: #e1d4c9;
  font-size: 20px;
}

.contact-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
